html,body {
	margin:0;
	padding:0;
	height:100%;
}

#page-container {
	min-height:calc(100% - 40px);
	position:relative;
}

.field {
	width: 250px;
	line-height: 16px;
	padding: 10px;
	font-family: arial, sans-serif;
	border: 1px solid #CCC;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
}

input {
	border: none;
	width: 220px;
}

#loginForm\:username {
	width: 242px;
}

#loginForm\:show {
	width: 8%;
	vertical-align: middle;
	margin-left: 6px;
}

#loginForm\:hide {
	width: 8%;
	vertical-align: middle;
	margin-left: 6px;
}

#loginForm\:loginbutton {
	width: 272px;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
}

#container {
	margin-top: 50px;
	line-height: 16px;
	padding: 10px;
	font-family: arial, sans-serif;
	border: 1px solid #CCC;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: inline-block;
	margin-left: calc(50% - 147px);
}

.message-line {
	line-height:16px;
	font-family:arial,sans-serif;
	color:#CCC;
}

.col-1 {
	text-align: left;
}

.col-2 {
	text-align: right;
}

#footer {
	width: 100%;
	text-align: center;
	border-top: 1px solid #CCC;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
